<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqknT_L-Og4Id214Ab_qyeer6gH2Y6PxI</string>
	<key>GCM_SENDER_ID</key>
	<string>303148546343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mac.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-d4e43</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-d4e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303148546343:ios:29ec2a45bb7fcf0b185102</string>
</dict>
</plist>